/**
 * Babel basic config
 */
{
  presets: [
    [
      '@babel/preset-env',
      {
        targets: {
          node: 'current',
        },
      },
    ],
    '@babel/preset-stage-2',
    '@babel/preset-react',
  ],
  ignore: ['node_modules', 'build'],
}
